mat-toolbar {
    background-color: #1c64a5;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vert {
    color: white;
}

.toolbar-title {
    font-family: 'Afacad', sans-serif;
    font-weight: 600;
    font-size: 42px;
    color: white;
}
